body {
  margin: 0;
  text-align: center;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  border-color: #30475e;
  width: 4.2%;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Niconne', cursive;
  font-size: 6.625rem;
  color: #393b44;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  color: #393b44;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bolder;
  color: #30475e;
}

a {
  color: #8d93ab;
  margin: 10px 15px;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  font-family: 'David Libre', serif;
  font-weight: 500;
}

.top-container {
  background-color: #f1f3f8;
  position: relative;
  padding-top: 300px;
  margin-bottom: 100px;
}

.middle-container {}

.bottom-container {
  position: relative;
  background-color: #d6e0f0;
  padding-bottom: 20px;
  padding-top: 50px;
  margin-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 10%;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  bottom: 25%;
  left: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.skill1-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  width: 40%;
  float: right;
  margin-left: 10px;
}

#copyright {
  color: #393b44;
  font-size: 0.75rem;
  margin: 50px auto;
}

.BUTTON_VRI {
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 400;
  padding: 14px;
  background-color: #30475E;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 0 1px 20px #000000;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 100px;
}

.BUTTON_VRI:hover {
  background: #99C624;
  border: solid #99C624 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
